gradle_local.properties

/log
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### log ###
/LOG_PATH_IS_UNDEFINED/
application.yml

### test sample data ###
**/src/test/**/sample/

### module root application.yml ###
auth/application.yml

### asdf local version ###
.tool-versions

**/src/generated

### mysql-docker init script ###
docker/mysql-init-files/**
